.streamers-container {
  flex: 1 1;
  .checkbox-label {
    display: block;
    padding: 10px 0;
  }
  .err-label {
    color: red;
    margin-left: 10px
  }
  .add-btn {
    padding: 5px;
  }
  .vin-input {
    padding: 5px;
    margin-right: 10px;
  }
}

